<br><br>
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto formulario">
            <div class="text-end">
                <img src="#" width="40" alt="">
            </div>
            <div class="container">
            <h2 class="fw-bold text-center py-2 text-white">Bienvenido</h2>

            </div>
            <!--LOGIN-->
            <form [formGroup]="formLogin" (submit)="send()">
                <div class="mb-4">
                    <div class="mb-4">
                        <label for="username" class="form-label text-white">Usuario</label>
                        <input id="username" type="email" class="form-control" name="username">

                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label text-white">Contraseña</label>
                        <input id="password" type="password" class="form-control" name="password">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-secondary" [disabled]="formLogin.invalid">Iniciar sesión</button>
                    </div>
                    <div class="my-3">
                        <span class="text-white">¿No tienes cuenta? <a href="" class=" text-white">Registrate</a></span><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>